@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 54 100% 98%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 56 87% 50%;
    --primary-foreground: 0 0% 0%;
    --secondary: 54 88% 93%;
    --secondary-foreground: 54 88% 23%;
    --muted: 54 88% 97%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 54 88% 93%;
    --accent-foreground: 54 88% 23%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 54 88% 83%;
    --input: 54 88% 83%;
    --ring: 54 88% 53%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
